{% extends 'base.html.twig' %}

{% block title %}
    new product
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form.name) }}
        {{ form_widget(form.sellPrice) }}
        {{ form_widget(form.gamme) }}
        <div>

            <button type="submit">Ajouter</button>->add('save', SubmitType::class, ['label' => 'Créer votre produit'])
        </div>
    {{ form_end(form) }}


{% endblock %}