{% extends 'base.html.twig' %}

{% block title %}
    new product
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div>
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_widget(form.sellPrice) }}
        </div>
        <div>
            {{ form_widget(form.gamme) }}
        </div>

        <div>
            <div>
                {{form_widget(form.produitFournitures)}}
            </div>
            <input type="number" placeholder="quantité">
            <button>ajouter</button>
        </div>
        <div>
            <button type="submit">Enregistrer</button>
        </div>
    {{ form_end(form) }}


{% endblock %}