{% extends 'base.html.twig' %}

{% block title %}
    new product
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div>
            {{ form_widget(form.name) }}
        </div>
        <div>
            {{ form_widget(form.sellPrice) }}
        </div>
        <div>
            {{ form_widget(form.gamme) }}
        </div>
        <div>
            {{form_widget(form.produitFournitures)}}
        </div>
        <div>
            <input type="number" placeholder="quantité">
            <b
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    {{ form_end(form) }}


{% endblock %}