{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} |
    Produits
{% endblock %}
{% block content %}
    <div>
        <div class="card-header mb-3">
            <h4>
                Produits
            </h4>
        </div>

        <table  class="table table-striped">
            <tr>
                <th {% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Nom', 'p.name') }}
                </th>
                <th  {% if pagination.isSorted('p.gamme') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Gamme', 'p.gamme') }}
                </th>
                <th  {% if pagination.isSorted('p.sellPrice') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Prix de vente', 'p.sellPrice') }}
                </th>
                <th>
                    Edit
                </th>
            </tr>
            {% for produit in pagination %}
                <tr   >
                    <td>
                        <a href="{{ path("show_produit",{'id': produit.id }) }}">
                            {{ produit.name }}
                        </a>
                    </td>
                    <td>
                        {{ produit.gamme.name }}
                    </td>
                    <td>
                        {{ produit.sellPrice }}
                    </td>

                    <td>
                        <div class="d-flex justify-content-center">
                            <a type="button" class="btn btn-info mr-2" href="{{ path('produit_edit',{'id':produit.id}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a type="button" class="btn btn-danger" href="{{ path('produit_remove',{'id':produit.id}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <div class="navigation d-flex justify-content-between">
            <div>
                Total result = {{ pagination.getTotalItemCount }}
            </div>

            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-info" href="{{ path("produit_create") }}">
                Créer
            </a>
        </div>
    </div>
{% endblock %}