{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} |
    Produits
{% endblock %}
{% block content %}
    <div>
        <h4>Page des produits #todo</h4>


            <table>
                <tr>
                    <th>name</th>
                    <th>gamme</th>
                    <th>prix de vente</th>
                </tr>
                {% for produit in produits %}
                    <tr>
                        <td>
                            <a href="{{ path("show_produit",{'id': produit.id }) }}">
                            {{ produit.name }}
                            </a>
                        </td>
                        <td>{{ produit.gamme.name }}</td>
                        <td>{{ produit.sellPrice }}</td>
                    </tr>
                {% endfor %}

            </table>






        <a href="{{ path('produit_create') }}" type="button" class="btn btn-primary">créer un produit</a>
    </div>
{% endblock %}