{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} |
    Fourniture
{% endblock %}
{% block content %}
    <div>

        <table>
            <tr>
                <th>name</th>
                <th>gamme</th>
                <th>prix d'achat</th>
                <th>prix modifiable </th>
                <th></th>
            </tr>
            {% for fourniture in fournitures %}
                <tr>
                    <td>
                        <a href="{{ path("fourniture_one_show",{'id': fourniture.id }) }}">
                            {{ fourniture.name }}
                        </a>
                    </td>
                    <td>
                        {{ fourniture.gamme.name }}
                    </td>
                    <td>
                        {{ fourniture.buyPrice }}
                    </td>
                    <td>
                        {% if fourniture.priceUpdatable  %} Oui {% else  %} Non {% endif %}
                    </td>

                </tr>
            {% endfor %}

        </table>

        <br>
        <br>
        <br>
        <a href="{{ path("fourniture_create") }}">
            créer une fourniture
        </a>
    </div>
{% endblock %}